.element {
  background-color: #696969;
}


body d {
  background-color: lightblue;
}

.confetti{
   max-width: 640px;
   display: block;
   margin: 0 auto;
   border: 1px solid #ddd;
   user-select: none;
}
